name: Build and Publish image to Docker Hub
on:
  [workflow_dispatch]
jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: build image
        run: |
          docker build ./api/ -t camilo192/devops-qr-code-backend:latest
          docker build ./front-end-nextjs/ -t camilo192/devops-qr-code-frontend:latest
      - name: push image to docker hub
        run: |
          docker login -u camilo192 -p ${{ secrets.DOCKER_HUB_TOKEN }}
          docker push camilo192/devops-qr-code-backend:latest
          docker push camilo192/devops-qr-code-frontend:latest